/* intro__inner */
.boardIntro__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
.boardIntro__inner h2 {
    font-size: 1.88em;
    margin-top: 34px;
    font-weight: bold;
}
.boardIntro__images {
    width: 27%;
}
.boardIntro__text {
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 25px;
}
.boardIntro__inner.center {
    flex-direction: column;
}
.boardIntro__inner.center .boardIntro__images {
    width: 100%;
    max-width: 300px;
    margin-bottom: 3%;
}
.boardIntro__inner.center .boardIntro__text {
    text-align: center;
    padding: 0 10%;
}
.boardIntro__btn {
    margin-top: 30px;
    margin-bottom: 50px;
}
.boardIntro__btn a {
    font-size: 1.2em;
    padding: 0.6em 4em;
    margin: 0.4em;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--color__black);
    color: var(--color__white);
}