/* board__inner */
.board__inner {
    padding: 12% 0;
}
.board__search {}
.board__search form{
    display: flex;
    justify-content: space-between;
}
.board__search fieldset {
    display: flex;
}
.board__search fieldset > div {
    padding: 0 5px;
}
.board__search h2 {
    font-size: 20px;
}
.board__search h2 span {
    color: red;
}
.board__search a {
    background-color: #000000;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 0.6em 1em;
    border: 0;
    font-weight: 300;
    margin: 50px 0 0 0;
}
table {
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
}
th {
    background-color: #eee;
    font-size: 20px;
    font-weight: 700;
}
td {
    font-weight: bold;
}
.page {
    text-align: center;
    margin-top: 70px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    color: #444
}