body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}
body.img01 {
    background-image: url(../img/mouseEffect01-min.jpg);
}
body.img02 {
    background-image: url(../img/mouseEffect02-min.jpg);
}
body.img03 {
    background-image: url(../img/mouseEffect03-min.jpg);
}
body.img04 {
    background-image: url(../img/mouseEffect04-min.jpg);
}
body.img05 {
    background-image: url(../img/mouseEffect05-min.jpg);
}
body.img06 {
    background-image: url(../img/mouseEffect06-min.jpg);
}
body.img07 {
    background-image: url(../img/mouseEffect07-min.jpg);
}
body.img08 {
    background-image: url(../img/mouseEffect08-min.jpg);
}
body.img09 {
    background-image: url(../img/mouseEffect09-min.jpg);
}
body.img10 {
    background-image: url(../img/mouseEffect10-min.jpg);
}
body::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
body.bg01::after {
    background-color: rgba(54, 71, 84, 0.6);
}
body.bg02::after {
    background-color: rgba(59, 27, 35, 0.7);
}
body.bg03::after {
    background-color: rgba(71, 51, 33, 0.95);
}
body.bg04::after {
    background-color: rgba(66, 80, 69, 0.7);
}
body.bg05::after {
    background-color: rgba(104, 78, 88, 0.7);
}
body.bg06::after {
    background-color: rgba(83, 80, 66, 0.7);
}
body.bg07::after {
    background-color: rgba(65, 39, 88, 0.7);
}
body.bg08::after {
    background-color: rgba(30, 53, 49, 0.7);
}
body.bg09::after {
    background-color: rgba(49, 53, 54, 0.7);
}
body.bg10::after {
    background-color: rgba(38, 16, 41, 0.7);
}

/* header */
#header {
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
}
#header h1 {
    margin-bottom: 10px;
}
#header p {
    margin-bottom: 10px;
}
#header a {
    color: #fff;
}
#header li {
    display: inline-block;
}
#header li a {
    display: inline-block;
    text-align: center;
    line-height: 1.8;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #fff;
}
#header li.active a {
    background-color: #fff;
    color: #000;
}

/* footer */
#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px;
}
#footer a {
    color: #fff;
}