/* header__wrap */
.header__wrap {}

.header__inner {
    padding: 30px 0;
}

.header__inner>h1 {
    font-size: 24px;
    font-family: 'Fredoka';
    font-weight: 300;
    color: var(--color__red);
}