#section01 {
    position: relative;
    padding: 50px 0;
    overflow: hidden;
}

.introBgImg01 {
    position: absolute;
    right: 0;
    top: 50px;
    width: 90vw;
    height: 60vw;
}

.introBgImg02 {
    position: absolute;
    left: 0;
    top: 45vw;
    width: 40vw;
}

.intro__inner {}

.intro__inner>h1 {
    margin-left: 10px;
    font-size: 2vw;
    font-family: 'Fredoka';
    font-weight: 300;
    color: var(--color__red);
    margin-bottom: 20px;
}

.intro01 {
    color: var(--color__red);
    display: flex;
}

.intro01>.intro__title>h1 {
    font-size: 11vw;
    font-weight: 700;
    line-height: 0.95;
}

.intro01>.intro__title>h2 {
    font-size: 6.5vw;
    font-weight: 700;
    line-height: 0.95;
}

.intro01>.intro__image {
    position: relative;
}

.intro01>.intro__image .introImg01 {
    width: 44.8750vw;
    position: relative;
    z-index: 1;
    right: 12vw;
    top: -8vw;
}

.intro01>.intro__image .introImg02 {
    position: absolute;
    left: -12vw;
    top: -5vw;
    width: 26.04vw;
}

.intro01>.intro__image .introImg03 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10vw;
    transform: rotate(235deg);
    width: 10vw;
}

.intro01>.intro__image .introImg04 {
    position: absolute;
    left: -70vw;
    bottom: 10vw;
    width: 18vw;
    transform: rotate(240deg);
    z-index: 10;
}

.intro01>.intro__image .introImg05 {
    position: absolute;
    left: -15vw;
    bottom: -20vw;
    width: 15vw;
}

.intro02 {
    margin: 20vw 0 20vw;
}

.intro02>.intro__title {

    z-index: 3;
    position: relative;
}

.intro02>.intro__title>h2 {
    font-size: 8vw;
    font-weight: 700;
    line-height: 0.95;
    color: var(--color__blue);
    text-align: right;
}

.intro02>.intro__image {
    position: relative;
    z-index: 1;
}

.intro02>.intro__image .introImg01 {
    position: absolute;
    left: 16vw;
    top: -10.5vw;
    width: 23vw;
}

.intro02>.intro__image .introImg02 {
    position: absolute;
    left: 8.85vw;
    top: -17.19vw;
    width: 37vw;
}

.intro02>.intro__image .introImg03 {
    position: absolute;
    left: 6.77vw;
    top: -8.33vw;
    width: 27.3vw;
}

.intro02>.intro__image::before {
    position: absolute;
    content: '';
    left: 7.81vw;
    top: -18.23vw;
    width: 39vw;
    height: 39vw;
    border-radius: 50%;
    background-color: var(--color__red);
}