// movies__wrap

.movies__wrap {
    overflow: hidden;
}
.movies__inner {
    height: 750px;
    .movies__text {

        h3 {
            font-size: 50px;
            margin-bottom: 40px;
        }
        p {
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 60px;
        }
        a {
            @include border(50px);
        }
    }

    .movies__item {
        @include flex-between;
        margin-top: 70px;
        position: absolute;
        > div {
            width: 268px;

            img {
                width: 100%;
                padding: 0 20px 0 0;
                @include border(20px);
            }
        }
    }
}

// movie__page
.movie__page {
    .movie__slider {
        display: none;
    }
    .movie__search {
        text-align: center;
        margin-bottom: 50px;
        input {
            border: 1px solid #e8ecf2;
            font-size: 16px;
            padding: 10px 20px;
            @include border(50px);
            min-width: 300px;
            margin-right: 10px;
        }
        button {
            @include border(50px);
        }
    }
    .movie__tag {
        ul {
            display: flex;
            justify-content: center;
            margin-top: 100px;
            margin-bottom: 50px;
            li {
                a {
                    border: 1px solid #8b99ad;
                    padding: 10px 20px;
                    margin: 0 10px;
                    color: #8b99ad;
                    &:hover {
                        border-radius: 30px;
                        color: #fff;
                        background-color: #8b99ad;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
    .movie__cont {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 100px;

            li {
                width: 23.3333%;
                margin-bottom: 4%;

                span {
                    display: block;
                    margin: 4px 0;
                }
            }
        }
    }
}