// cards__wrap
.cards__wrap {}
.cards__inner {
    .cards__btn {
        margin-bottom: 30px;

        ul {
            display: flex;
            justify-content: center;

            li {
                display: inline-block;
                margin: 0px 10px 10px 10px;
                padding: 10px;
                background-color: #D9E4FF;
                border-radius: 50px;
                border: 1px solid #A2BCFF;
                transition: background-color 0.3s;

                &:hover {
                    background-color: darken(#D9E4FF, 10%);
                }

                a {
                    padding: 10px 15px;
                    font-size: 18px;
                    font-weight: 300;
                    color: #232323;

                    
                }
            }
        }
    }


    .cards__conts {
        @include flex-between;
        flex-wrap: wrap;
        .card {
            width: 32.2222%;
            text-align: left;
            line-height: 1.4;
            .card__header {
                
                img {
                    width: 100%;
                }
            }
            .card__body {
                display: flex;
                align-items: center;
                margin-top: 10px;
                span {
                    padding-right: 10px;
                }

                h4 {
                    font-size: 20px;
                    font-weight: 500;
                }
                p {
                    font-size: 16px;
                    color: #8997A8;
                }
                
            }
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                margin-top: 50px;
            }
        }
    }
}
