// footer__wrap

.footer__wrap {}
.footer__inner {
    @include flex-between;
    flex-wrap: wrap;
    .footer__text {
        width: 20%;

        h5 {
            font-size: 20px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 1.6;
            color: #808080;
        }
        .sns {
            @include flex-between;
            li {
                display: inline;
                a {
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    @include border(45px);
                    background-color: #f5f5f5;
                    background-image: url(../../images/footer/Facebook.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &:nth-child(2) a {
                    background-image: url(../../images/footer/Instagram.svg);
                }
                &:nth-child(3) a {
                    background-image: url(../../images/footer/YouTube.svg);
                }
                &:nth-child(4) a {
                    background-image: url(../../images/footer/Link.svg);
                }
            }
        }
    }
    .footer__menu {
        width: 70%;
        display: flex;

        > div {
            width: 25%;

            h4 {
                font-size: 18px;
                margin-bottom: 15px;
                color: #000;
            }
            
            a {
                color: #808080;
                line-height: 1.6;
                font-weight: 300;
                font-size: 14px;
            }
        }
    }
    .footer__right {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;
        width: 100%;
        border-top: 1px solid #e5e5e5;
        margin-top: 50px;
        padding: 30px;
        color: #808080;
        text-align: center;
    }

}