@import url('https://webfontworld.github.io/tway/TwayAir.css');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: url(/img/img.jpg);
    background-repeat: no-repeat;
    background-position: center; */
    overflow: hidden;
}

#result {
    color: #fff;
    padding: 20px;
    font-family: 'TwayAir';
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}

.quote {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 20px;
}

.author {
    font-size: 25px;
    justify-content: center;
    padding: 20px;
}
body {
  background-image: url('https://source.unsplash.com/random/?programming');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}